@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body{
    background: url(imagens/pexels-pixabay-206359.jpg) no-repeat fixed;
    background-size: cover;
    overflow-y: hidden;
}

.conteiner{
    background-color: white;
    border-radius: 10px;
    max-width: 450px;
    margin: auto;
    padding: 10px;
    margin-top: 50px;
}

.conteiner header{
    text-align: center;
    padding: 0 1em 1em;
    border-bottom: 1px solid #ccc;
}

button{
    background-color: aliceblue;
    color: #102F5e;
    border: 2px solid #102F5e;
    padding: .3em .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

button:hover{
    background-color: #102F5e;
}

button:hover > i{
    color: white;
}

button i{
    color: #102F5e;
    font-weight: bold;
    pointer-events: none;
}

input, select{
    padding: 0.25em 0.5em;
}

.hide{
    display: none;
}

/* ToDo Form */

#todo-form, #edit-form{
    padding: 1em;
    border-bottom: 1px solid #ccc;

}

#todo-form, #edit-form {
    margin-bottom: .5em;
    font-weight: bold;
}

.form-control{
    display: flex;
}

.form-control input{
    margin-right: .3em;
}

#cancel-edit-btn{
    margin-top: 1em;
}

/* ToDo toolbar */

#toolbar {
    padding: 1em;
    border-bottom: 1px solid #ccc;
    display: flex;
}

#toolbar h4{
    margin-bottom: .5em;
}

#search{
    border-right: 1px solid #ccc;
    padding-right: 1em;
    margin-right: 1em;
    width: 65%;

    display: flex;
    flex-direction: column;
}

#search form {
    display: flex;
}

#search input {
    width: 100%;
    margin-right: 0.3em;
}

#filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter select {
    flex: 1;
}

/* ToDo list */
.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid #ccc;
    transition: .3s;
}

.todo h3{
    flex: 1;
    font-size: .9em;
}

.todo button {
    margin-left: .4em;
}

.done {
    background-color: #396169;
}

.done h3{
    color: white;
    text-decoration: line-through;
    font-style: italic;
}